<div class="dia-wrapper">
  <!-- <div class="dia-header">
    <div class="dia-header-title">
      <h1>{{ dia.dia }}</h1>
      <h2>{{ dia.mes }}</h2>
    </div>
    <div class="dia-header-buttons">
      <button mat-icon-button (click)="goToPreviousDay()">
        <!-- <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="goToNextDay()">
        <!-- <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div> -->
  <div class="actuaciones-wrapper">
    <app-actuacion></app-actuacion>
  </div>
</div>
