<div class="card">
  <app-modalidad [modalidad]="agrupacion.modalidad" class="{{ agrupacion.modalidad }}"></app-modalidad>
  <div class="card-details">
    <h2 class="card-details-title">{{ agrupacion.nombre }}</h2>
    <div class="card-details-content">
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/letrista.png" alt="letra" />
        </div>
        <div class="card-details-content-text">
          <span>{{ agrupacion.letra }} </span>
        </div>
      </div>
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/musico.png" alt="musica" />
        </div>
        <div class="card-details-content-text">
          <span>{{ agrupacion.musica }}</span>
        </div>
      </div>
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/batuta.png" alt="direccion" />
        </div>
        <div class="card-details-content-text">
          <span>{{ agrupacion.direccion }}</span>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="footer" [agrupacion]="agrupacion"></app-footer>
</div>
