@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  background: linear-gradient(#f8f8f8, #fff);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  display: grid;
  font-family: Abel, Arial, Verdana, sans-serif;
  grid-template-columns: 3fr 10fr 1fr;
  overflow: hidden;
  // margin: 1.5rem;
  max-width: 420px;
}

.card-details {
  grid-column: 2/4;
  grid-row: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.card-details-title {
  // color: #2b2b2b;
  font-family: 'Oleo Script', Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card-details-content {
  padding: 5px 10px 0 10px;
}

.card-details-content-card {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  gap: 10px;
}

.card-details-icon img {
  width: 30px;
  height: 30px;
}

.modalidad{
  grid-column: 1;
  grid-row: 1;
}

.footer {
  grid-column: 1/4;
  grid-row: 2;
}
