<div class="card">
  <app-modalidad [modalidad]="'comparsa'"></app-modalidad>
  <div class="card-details">
    <h1 class="card-details-title">La Brigada</h1>
    <div class="card-details-content">
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/letrista.png" alt="letra" />
        </div>
        <div class="card-details-content-text">
          <span>Constantino Tovar Verdejo </span>
        </div>
      </div>
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/musico.png" alt="musica" />
        </div>
        <div class="card-details-content-text">
          <span>Constantino Tovar Verdejo</span>
        </div>
      </div>
      <div class="card-details-content-card">
        <div class="card-details-icon">
          <img src="assets/img/batuta.png" alt="direccion" />
        </div>
        <div class="card-details-content-text">
          <span>Ángel Subiela</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-year"><span>2020</span></div>
    <div class="card-footer-nombre">
      <span>¡Oh capitán, my capitán!</span>
    </div>
    <div class="card-footer-icon">
      <a href="https://www.youtube.com/watch?v=QN-DOx-nW3U" target="blank"><fa-icon [icon]="faYotube"></fa-icon></a>
    </div>
  </div>
</div>
