<div class="card">
  <div class="additional">
    <div class="modalidad-card">
      <div class="modalidad-card-title center">Comparsa</div>
      <div class="modalidad-card-image center">
        <img src="assets/img/guitarra.png" alt="" class="center" />
      </div>
    </div>
  </div>
  <div class="details-card">
    <h1 class="details-card-title">La Brigada</h1>
    <div class="details-card-content">
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/letrista.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Constantino Tovar Verdejo</span>
        </div>
      </div>
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/musico.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Constantino Tovar Verdejo</span>
        </div>
      </div>
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/batuta.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Ángel Subiela</span>
        </div>
      </div>
    </div>
    <div class="details-card-footer">
      <div class="details-card-footer-year"><span>2020</span></div>
      <div class="details-card-footer-nombre">
        <span>¡Oh capitán, my capitán!</span>
      </div>
      <div class="details-card-footer-icon">
        <a href="https://github.com/javicordero" target="blank"
          ><fa-icon [icon]="faGithubSquare"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="additional2">
    <div class="modalidad-card">
      <div class="modalidad-card-title center">Coro</div>
      <div class="modalidad-card-image center">
        <img src="assets/img/bandurria.png" alt="" class="center" />
      </div>
    </div>
  </div>
  <div class="details-card">
    <h1 class="details-card-title">Los Dictadores</h1>
    <div class="details-card-content">
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/letrista.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Julio Pardo</span>
        </div>
      </div>
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/musico.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Julio Pardo</span>
        </div>
      </div>
      <div class="details-card-content-card">
        <div class="details-card-icon">
          <img src="assets/img/batuta.png" alt="" />
        </div>
        <div class="details-card-content-text">
          <span>Julio Pardo</span>
        </div>
      </div>
    </div>
    <div class="details-card-footer footer-green">
      <div class="details-card-footer-year"><span>2020</span></div>
      <div class="details-card-footer-nombre">
        <span>¡Los Mafiosos!</span>
      </div>
      <div class="details-card-footer-icon">
        <a href="https://github.com/javicordero" target="blank"
          ><fa-icon [icon]="faGithubSquare"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</div>
